/* Fonts */
/* Catamaran for body */
/* Averia Sans Libre for headings */
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Catamaran:wght@100..900&display=swap');

/* Overriding default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Catamaran', sans-serif;
}

/* Header */
header {
    background-color: #016290;
    color: #f3f3f3;
    position: fixed;
    width: 100%;
    padding-left: 1rem;
}

h1 {
    font-family: 'Averia Sans Libre', sans-serif;
    font-style: italic;
    font-size: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

header li {
    list-style-type: none;
}

.active {
    text-decoration: underline #f7d1d3 wavy 3px;
}

#menu {
    font-size: 90%;
}

/* Main content */
main {
    background-color: antiquewhite;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: aqua;
}