* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: aliceblue;
}

/* Main content */
main {
    background-color: antiquewhite;
}

/* Footer */
footer {
    background-color: aqua;
}